.detailContainer {
  border: 1px solid #f0f0f0;
}

.detailContainer .ant-col {
  border-right: 1px solid #f0f0f0;
}

.detailContainer .ant-col:last-child {
  border-right: none;
}

.detailValue {
  background-color: white;
  justify-content: flex-start;
}
.detailLabel {
  justify-content: center;
}

.detailValue, .detailLabel {
  display: flex;
  align-items: center;
  height: 2.8em;
  padding: 0 2rem;
  border-bottom: 1px solid #f0f0f0;
}

.detailValue.detailValueNumber {
  justify-content: flex-end;
}

.detailValue:last-child, .detailLabel:last-child {
  border-bottom: none;
}